.navbar,
.navbar-end,
.navbar-menu,
.navbar-start {
  align-items: stretch !important;
  display: flex !important;
  background-color: black;
}

.navbar-menu {
  flex-grow: 1 !important;
  flex-shrink: 0 !important;
  box-shadow: none !important;
  padding: 0 !important;
}

.navbar-item {
  display: flex !important;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  color: aliceblue;
}

.navbar-end {
  justify-content: flex-end !important;
  margin-left: auto !important;
}

.resiter-button {
  background-color: rgb(209, 129, 8);
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 4px;
  color: aliceblue;
}

.login-button {
  background-color: rgb(230, 235, 229);
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 4px;
  color: rgb(0, 0, 0);
  margin-left: 20px;
  margin-right: 20px;
}
